<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/styles/takeQuiz.css" type="text/css" />
    <!--  JS -->
    <script type="text/javascript" src="/scripts/quizListener.js"></script>

</head>
<body>
    <div class="quiz-box">
      <div class="title">Quiz Name!</div>
      <img src="/images/brain3.png">
      <label for="file">3/10</label>
      <progress id="file" value="30" max="100"> 30% </progress>
      <div class="timer">
        <div class="time_text">Time Left</div>
        <div class="timer_sec"><h2 id="question-timer"></h2>
        </div>
      </div>
      <div id="questions-box">
        <h1><%=quiz[0].question%></h1>
        <div id="answer-buttons">
          <button type="button"><%=quiz[0].correct_answer%></button><br>
          <button type="button"><%=quiz[0].incorrect_answers[0]%></button><br>
          <button type="button"><%=quiz[0].incorrect_answers[1]%></button><br>
          <button type="button"><%=quiz[0].incorrect_answers[2]%></button>
        </div>
      </div>
    </div>
</body>
</html>
